<nav class="navbar">
    <div class="container">
        <ul class="nav-menu" id="navMenu">
            {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
            <li class="nav-dropdown">
                <a href="#" class="nav-link dropdown-toggle {{ if or (eq $.RelPermalink .URL) (in $.RelPermalink .Identifier) }}active{{ end }}">
                    {{ .Name }}
                    <span class="dropdown-arrow">▼</span>
                </a>
                <ul class="dropdown-menu">
                    {{ range .Children }}
                    <li>
                        <a href="{{ .URL }}" class="dropdown-link {{ if eq $.RelPermalink .URL }}active{{ end }}">{{ .Name }}</a>
                    </li>
                    {{ end }}
                </ul>
            </li>
            {{ else }}
            <li>
                <a href="{{ .URL }}" class="nav-link {{ if eq $.RelPermalink .URL }}active{{ end }}">{{ .Name }}</a>
            </li>
            {{ end }}
            {{ end }}
        </ul>
        <button class="nav-toggle" id="navToggle" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</nav>
