{{ define "main" }}
<div class="container">
    <article class="blog-post">
        <header class="blog-post-header">
            <h1>{{ .Title }}</h1>
            <div class="blog-post-meta">
                <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
                {{ if .Params.author }}
                <span>•</span>
                <span>By {{ .Params.author }}</span>
                {{ end }}
                {{ if .Params.translation }}
                <span>•</span>
                <a href="{{ .Params.translation }}" class="lang-switch">{{ .Params.translation_label }}</a>
                {{ end }}
            </div>
        </header>
        <div class="blog-post-content content-section">
            {{ .Content }}
        </div>
    </article>
</div>
{{ end }}

